.blog-list {
    .container {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        .card {
            width: 100%;
            height: 25vh;
            margin-bottom: 1rem;
            background-color: $primary-color;
            border-radius: 0.5rem;
            position: relative;
            color: $font-primary-color;

            .card-title {
                h3 {
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2rem;
                }
                
                visibility: visible;
            }

            .card-title:hover {
                img {
                    animation: increase-opacity 0.4s forwards ease-in-out;
                }
            }

            .card-details {
                padding: 2rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                a {
                    text-decoration: none;
                    color: $font-primary-color;
                }
                visibility: hidden;
            }
            
            animation-name: fade-in, slide-in-height;
            animation-duration: 0.8s;
            animation-timing-function: ease-out;
        }

        .card-selector {
            display: none;
        }

        .card-selector:checked + label {
            .card-title {
                animation: fade-out-card 0.4s forwards ease-in-out;
            }
            .card-details{
                animation: fade-in-card 0.4s forwards ease-in-out;
            }
        }
    }
}