.landing {
    padding-top: 2rem;
    .container {
        min-height: 240px;
        height: 35vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
            font-size: 36px;
        }

        p {
            font-size: 24px;
            padding: 1rem;
        }
    }
}