nav {
    position: sticky;
    top: 0;
    background-color: $primary-color;
    height: 64px;
    width: 100%;
    z-index: 10;
    .container {
        height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;

    li{
        text-align: center;
        a {
            font-weight: 500;
            color: $font-primary-color;
            margin: 1rem;
        }
    }
}